@model ProfileModel

@foreach (var order in Model.Orders)
{
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Order #@order.OrderId
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        @foreach (var item in order.OrderItems)
                        {
                            <tr>
                                <td><a asp-controller="Home" asp-action="Item" asp-route-id="@item.ItemId" target="_blank">@item.Title</a></td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}